build-cortex-m0
assets
docs
Conventions.md
Architecture.md
Doxyfile
Justfile
Makefile
compile_commands.json
conert_to_array.sh
conert_to_string.sh
flake.nix
.cache
.clang-format
.direnv
.idea
.envrc

